# Node modules
node_modules/

# 빌드 결과물 (Docker 내부에서 빌드하므로 제외)
dist/
.vite/
.nuxt/
.output/

# 환경 변수 파일
.env
.env.*

# Git & 에디터 설정
.git
.gitignore
.idea/
.vscode/

# 로그 파일
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# 기타
*.log
