<?xml version="1.0" encoding="UTF-8" ?>
<!-- resources/mapper/DietMapper.xml -->
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hankki.domain.diet.mapper.DietMapper">

    <insert id="insertDiet" parameterType="Diet" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO diet (email, meal_type, take_at, diet_memo)
        VALUES (#{email}, #{mealType}, #{takeAt}, #{dietMemo})
    </insert>

    <select id="getDietByTakeAt" parameterType="map" resultType="com.hankki.domain.diet.entity.Diet">
        SELECT
            id,
            user_email   AS email,
            user_take_at AS takeAt,
            meal_type    AS mealType,
            diet_memo    AS dietMemo
        FROM diet
        WHERE user_email   = #{email}
          AND user_take_at = #{takeAt}
    </select>

    <select id="getDietById"
            parameterType="long"
            resultType="com.hankki.domain.diet.entity.Diet">
        SELECT * FROM diet WHERE id = #{dietId}
    </select>

    <delete id="deleteDietById"
            parameterType="long">
        DELETE FROM diet WHERE id = #{dietId}
    </delete>
</mapper>
