@font-face {
  font-family: "GumiRomance";
  /* src: url("@/assets/fonts/Gumi Romance.otf") ... ← 이거 X */
  src: url("/fonts/Gumi Romance.otf") format("opentype");
  font-display: swap;
}
@font-face {
  font-family: "EFDiary";
  src: url("/fonts/EF_Diary.otf") format("opentype");
  font-display: swap;
}
